<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merlin.client">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--        android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
    <application
        android:name="com.merlin.global.Application"
        android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false">
        <activity
            android:label="NAS"
            android:launchMode="singleInstance"
            android:name="com.merlin.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.merlin.activity.FileBrowserActivity"
            android:launchMode="singleInstance"
            android:label="@string/fileBrowser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.merlin.activity.TransportActivity"
            android:launchMode="singleInstance"
            android:label="@string/fileTransport">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.merlin.activity.MediaPlayActivity"
            android:launchMode="singleInstance"
            android:label="@string/mediaPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.merlin.activity.MediaSheetActivity"/>
        <activity android:name="com.merlin.activity.MediaSheetDetailActivity"/>
        <service android:name="com.merlin.task.DownloadService"/>
        <service android:name="com.merlin.media.MediaPlayService"/>
    </application>

</manifest>